
.container{
  margin-left: 67px !important;
   padding: 0px !important;
   max-width: calc(99vw - 67px);
 }
 h1{
   color: var(--h1);
   margin-top: 14px;
 }
 h4{
   font-size: 20px;
 }
 table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0px;
}

.showform{
  margin: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 98%;
  box-shadow: var(--box-shadow);
  height: auto;
  max-height:calc(100vh - 160px)
}
.showform thead tr {
  position: sticky;
  top: 0;
}
.icon{
  margin-left: 10px;
}
.view-wrapper {
  display: flex;
  align-items: center;
}

.doc-icon {
  margin-right: 5px;
}

.download-icon {
  margin-left: auto;
}

span {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.form__input {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #38424c;
  font-size: 14px;
  box-sizing: border-box;
  color: var(--modal-content-color);
  background-color: transparent;
 
}
.modal-body {
  max-height: 700px;
  overflow-y: auto; 
}
.list{
  width: 48%;
  display: inline-block;
  vertical-align: top;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 8px;
  margin-left: 8px;
  border: 1px solid #0ed8b8;
}
.list{
  margin-left:0px;
}
td img{
  height: 27px;
  width: 27px;
}
.icon-text-container {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px; 
}
