.container {
  /*padding-top: 20px;*/
  max-width: calc(100vw - 67px);
  margin-left: 67px;
  padding-right:0px !important;  
  h1{
    color: var(--h1);
    margin: 14px 0px 16px;
  }
}
.card {
  padding: 0px;
  margin-top:0px !important;
  padding-bottom: 2px;
  background-color: transparent;
  border: none;
 
}
.table-responsive {
  margin: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 40%;
  box-shadow: var(--box-shadow);
  max-height: 487px;

}
.icon{
  margin-left: 10px;
}
.detailsform thead tr {
  position: sticky;
  top: 0;
}

.input-dep{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #38424c;
  width: 55%;
  padding: 7px 2px;
  outline: none;
  color: var(----input-dep-color);
}
.input-dep:focus{
  border-bottom-color: #16ac98;
}
.close{
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}

i {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  font-size: 24px !important;
}
span {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

td,th{
  padding: 10px 20px !important;
}


/*/* styles for small screens 
@media (max-width: 767px) {
  /* reduce padding on container 
  .container {
    padding: 0 10px;
    max-width: 100%;
  }

  /* center align modal 
  .modal-dialog {
    margin: 0 auto;
    max-width: 100%;
  }
}

/* styles for medium screens 
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 90%;
  }
}

/* styles for large screens 
@media (min-width: 992px) {
  .container {
    max-width: 93.5%;
  }
}
*/