.main-content {
   background-image: url(../../assets/images/back.png);
   background-size: cover;
   background-repeat: no-repeat;
  
  }
.form__input{
  background-color: transparent;
  width: 98%;
  border: none;
  border-bottom: 1px solid #38424c;
  padding: 8px 2px;
  font-size: 15px;
  margin-bottom: 16px;
}
.form__input:focus{
outline: none;

}
.row{
padding: 0 12px;
--bs-gutter-x:0 !important;
--bs-gutter-y: 0 !important;
}


/* Mobile devices */
@media only screen and (max-width: 767px) {
  .main-content {
    padding: 20px;
    
  }
}

/* Tablets and desktops */
@media only screen and (min-width: 768px) {
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent!important;
   
  }
  .login_form {
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    background-color: transparent;
  }
  .form-group{
      background-color: transparent;
  }
  
  #annuler:hover{
  color: #0ed8b8;
  font-size: 15px;
  
  }
 
}
